{% extends 'core/master.html' %}


{% block content %}
    <section class="bg-gray-figma-100">
        <article class="container">
            <div class="flex flex-col justify-center items-center py-10 lg:py-16">
                <svg width="117" height="118" viewBox="0 0 117 118" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M58.5 107.348C85.4239 107.348 107.25 85.5215 107.25 58.5977C107.25 31.6738 85.4239 9.84766 58.5 9.84766C31.5761 9.84766 9.75 31.6738 9.75 58.5977C9.75 85.5215 31.5761 107.348 58.5 107.348Z" stroke="#2B9943" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M43.875 58.5977L53.625 68.3477L73.125 48.8477" stroke="#2B9943" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <h1 class="text-center text-mobile-heading-large lg:text-desktop-heading-large text-sucessGreen font-bold mt-5">Tu pedido ha sido confirmado</h1>
                <p class="text-center text-mobile-heading-medium lg:text-desktop-heading-medium mt-5">¡Gracias por tu compra!</p>
            </div>
        </article>
    </section>
{% endblock %}