<section class="dialogDetail popup popupClosed">
    <div class="popup__window">
        <article>
            <div class="flex items-center justify-between">
                <h3 class="font-bold text-mobile-heading-block lg:text-desktop-heading-block">Detalle del resumen</h3>
                <svg class="cursor-pointer" onclick='closeCheckoutPopup("detail")' width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 29C22.732 29 29 22.732 29 15C29 7.26801 22.732 1 15 1C7.26801 1 1 7.26801 1 15C1 22.732 7.26801 29 15 29Z" stroke="#FD7400" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M19.1998 10.8008L10.7998 19.2008M10.7998 10.8008L19.1998 19.2008" stroke="#FD7400" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="mt-12 max-h-[150px] overflow-y-scroll pr-2" id="subtotalProducts">
                
                {% comment %} Javascript will insert products dinamically {% endcomment %}
            </div>
            <div class="my-5 overflow-hidden">
                <svg width="382" height="2" viewBox="0 0 382 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 1H382" stroke="#B9B9B9"/>
                </svg>                    
            </div>
            <div id="costs">
                <div class="flex items-start justify-between">
                    <p>Tarifa de servicio</p>
                    <div class="flex items-center">
                        <span>$</span><p>2000</p>
                    </div>
                </div>
                <div class="my-5 flex items-start justify-between">
                    <p>Costo envío</p>
                    <div class="flex items-center">
                        <span>$</span><p>2000</p>
                    </div>
                </div>
                <div class="flex items-start justify-between font-bold">
                    <p>Subtotal con cargos</p>
                    <div class="flex items-center">
                        <span>$</span><p>4000</p>
                    </div>
                </div>
            </div>
            <div class="my-5 overflow-hidden">
                <svg width="382" height="2" viewBox="0 0 382 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 1H382" stroke="#B9B9B9"/>
                </svg>                    
            </div>
            <div id="tip">
                <div class="tipDetailBlock hidden items-start justify-between">
                    <p>Propina</p>
                    <div class="flex items-center">
                        <span>$</span><p class="tipDetail">Calculando...</p>
                    </div>
                </div>
                <div class="discountDetailBlock hidden items-start justify-between">
                    <p>Descuento</p>
                    <div class="flex items-center">
                        <span>-$</span><p class="discountDetail">Calculando...</p>
                    </div>
                </div>
                <div class="mt-5 flex items-start justify-between font-bold">
                    <p>Subtotal de orden</p>
                    <div class="flex items-center">
                        <span>$</span><p class="preTotalDetail">Calculando...</p>
                    </div>
                </div>
            </div>
            <div class="my-5 overflow-hidden">
                <svg width="382" height="2" viewBox="0 0 382 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 1H382" stroke="#B9B9B9"/>
                </svg>                    
            </div>
            <div id="totalForPay">
                <div class="mt-5 flex items-start justify-between font-bold">
                    <p>Total a pagar</p>
                    <div class="flex items-center">
                        <span>$</span><p class="totalDetail">Calculando...</p>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

