<section class="dialogOurCost popup popupClosed">
    <div class="popup__window">
        <article>
            <h4 class="text-mobile-heading-block lg:text-desktop-heading-block font-bold">Nuestros costos</h4>
            <div class="mt-12">
                <h5 class="font-bold text-mobile-paragraph-large lg:text-desktop-paragraph-large">Tarifas</h5>
                <p class="mt-3">La tarifa de servicio ayuda a mantener la plataforma digital, ya que cubre varios costos operativos que nos permite ofrecerte la mejor experiencia de compra posible</p>
            </div>
            <div class="my-5 overflow-hidden">
                <svg width="382" height="2" viewBox="0 0 382 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 1H382" stroke="#B9B9B9"/>
                </svg>                    
            </div>
            <div>
                <h5 class="font-bold text-mobile-paragraph-large lg:text-desktop-paragraph-large">Costo de envio</h5>
                <p class="mt-3">Cubre los gastos de servicios de repartacion. Generalmente tratamos de mantener esta tarifa lo mas constante posible. 
                    Sin embargo, este monto puede afectarse debido a factores tales como, momento del dia,
                    distancia o clima.
                </p>
            </div>
            <div class="my-5 overflow-hidden">
                <svg width="382" height="2" viewBox="0 0 382 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 1H382" stroke="#B9B9B9"/>
                </svg>                    
            </div>
            <div>
                <h5 class="font-bold text-mobile-paragraph-large lg:text-desktop-paragraph-large">Propina</h5>
                <p class="mt-3">Aporte voluntario 100% destinado al domiciliario</p>
            </div>
            <div class="mt-16">
                <button onclick='closeCheckoutPopup("ourCosts")' class="btn-cta w-full">Entendido</button>
            </div>
        </article>
    </div>
</section>

