{% extends 'core/master.html' %}

{% comment %}
    Section: blog
    Model: Post[]
    Content relation: Publicaciones
    Description: post list displayed in grid
    Creation info: Luis Veliz - 07/03/2024
    Pending: pagination buttons
{% endcomment %}
{% block content %}
    <section class="relative overflow-hidden h-[300px] max-w-[1920px] mx-auto">
        <div class="h-full w-full absolute top-0 hero_banner-custom__gradient"></div>
        <article class="h-full w-full absolute top-0 flex flex-col lg:flex-row gap-y-10 lg:gap-y-0 lg:gap-5 justify-center lg:justify-start items-center lg:pl-16 xl:pl-figmaMargins 2xl:pl-[14.06rem]">
            <h1 class="px-5 sm:px-8 lg:px-0 text-center lg:text-left text-white text-mobile-heading-large font-bold lg:basis-1/4">Descubre las mejores <span class="text-tertiary">recetas</span> de comida casera</h1>
        </article>
        <img src="/media/blog/banner_img/banner_mobile.jpg" height="600" class="w-full h-full object-cover" alt="Imagen referencial banner seccion de productos">
    </section>
    <section class="mt-16 container md:mx-auto">
        <div class="md:flex md:flex-wrap md:justify-start md:gap-8 xl:gap-10">
            {% for post in posts %}
                {% if  forloop.last %}
                    <article class="shadow-blog_post-shadow my-8 md:my-0 md:mt-8 md:basis-[47%] xl:basis-[30.5%] rounded-lg overflow-hidden">
                        <img class="w-full h-[180px] sm:h-[350px] md:h-[250px]  object-cover" src="{{post.image.url}}" alt="Post de blog Juan Sabrosuras - titulo: {{ post.title }}">
                        <div class="pt-16 pb-8 px-8">
                            <h2 class="text-mobile-heading-medium lg:text-desktop-heading-medium font-bold md:min-h-[70px] lg:h-[80px] 2xl:h-[120px]">{{ post.title|capfirst }}</h2>
                            {% if  post.description %}
                                <p class="text-mobile-paragraph-large lg:text-desktop-paragraph-large my-[30px] md:text-justify md:h-[100px] 2xl:h-[150px]">{{ post.description|capfirst|truncatewords:25 }}</p>
                            {% endif %}
                            <a class="block text-center w-full btn-cta" href="{% url "post" post.slug %}">Leer mas</a>
                            <div class="flex flex-wrap mt-8">
                                {% for category in post.categories.all %}
                                    {% if not forloop.last  %}
                                        <h3 class="text-notificacion bg-gray-200 text-gray-figma-400 py-2 px-2 rounded-xl mr-2 mb-2">{{ category|capfirst  }}</h3>
                                    {% else %}
                                        <h3 class="text-notificacion bg-gray-200 text-gray-figma-400 py-2 px-2 rounded-xl mb-2">{{ category|capfirst  }}</h3>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <h4 class="mt-2">{{ post.published|date:"SHORT_DATE_FORMAT" }}</h4>
                        </div>
                    </article>
                {% else %}
                    <article class="shadow-blog_post-shadow mt-8 md:basis-[47%] xl:basis-[30.5%] rounded-lg overflow-hidden">
                        <img class="w-full h-[180px] sm:h-[350px] md:h-[250px]  object-cover" src="{{post.image.url}}" alt="Post de blog Juan Sabrosuras - titulo: {{ post.title }}">
                        <div class="pt-16 pb-8 px-8">
                            <h2 class="text-mobile-heading-medium lg:text-desktop-heading-medium font-bold md:min-h-[70px] lg:h-[80px] 2xl:h-[120px]">{{ post.title|capfirst }}</h2>
                            {% if  post.description %}
                                <p class="text-mobile-paragraph-large lg:text-desktop-paragraph-large my-[30px] md:text-justify md:h-[100px] 2xl:h-[150px]">{{ post.description|capfirst|truncatewords:25 }}</p>
                            {% endif %}
                            <a class="block text-center w-full btn-cta" href="{% url "post" post.slug %}">Leer mas</a>
                            <div class="flex flex-wrap mt-8">
                                {% for category in post.categories.all %}
                                    {% if not forloop.last  %}
                                        <h3 class="text-notificacion bg-gray-200 text-gray-figma-400 py-2 px-2 rounded-xl mr-2 mb-2">{{ category|capfirst  }}</h3>
                                    {% else %}
                                        <h3 class="text-notificacion bg-gray-200 text-gray-figma-400 py-2 px-2 rounded-xl mb-2">{{ category|capfirst  }}</h3>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <h4 class="mt-2">{{ post.published|date:"SHORT_DATE_FORMAT" }}</h4>
                        </div>
                    </article>
                {% endif %}
            {% endfor %}
        </div>
    </section>
    <section class="my-16 container">
        {% include "blog/paginator.html" %}
    </section>
{% endblock %} 