{% extends 'core/master.html' %}


{% block content %}
    <section class="container py-10 lg:py-[3.75rem]">
        <article>
            <div class="relative">
                <div class="bg-secondary w-[20rem] h-[20rem] rounded-[31.25rem] translate-x-14"></div>
                <img class="rounded-[31.25rem] absolute top-[15px]" src="/media/about_us/aboutUs_img.png" alt="Imagen del banner de la seccion about us" width="330px" height="440px">
            </div>
            <div class="mt-12">
                <h3 class="text-center text-4xl font-bold">Sobre <span class="text-secondary">nosotros</span></h3>
                <p class="mt-10">
                    Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum,Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum

                    Lorem ipsum, Lorem ipsum, Lorem ipsum,Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum,Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum,Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum,Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum
                </p>
            </div>
        </article>
    </section>
{% endblock %}

