{% extends 'core/master.html' %}

{% comment %}
    Section: About us
    Model: none
    Content relation: no relation
    Description: description banner with image and text about company history, mision & vision
    Creation info: Luis Veliz - 04/01/2024
    Update: figma adjustment version 0.0.2
    Pending: Update paragraph information
{% endcomment %}

{% block content %}
    <section class="pt-10 lg:pt-[3.75rem] lg:max-w-[1920px] lg:mx-auto">
        <article class="lg:flex">
            <div class="container xl:py-10">
                <h1 class="text-center lg:text-left text-secondary text-mobile-heading-small lg:text-desktop-heading-small">Conoce nuestra historia y nuestros servicios</h1>
                <h2 class="mt-5 text-center lg:text-left font-bold text-mobile-heading-large lg:text-desktop-heading-large">Nuestros servicios</h2>
                <p class="mt-10 text-desktop-paragraph-standard lg:text-desktop-paragraph-standard">
                    Juan Sabrosuras es un emprendimiento familiar, que inició durante tiempos de pandemia en 2019 cuando noté la problematica que enfrentaba mi hijo menor
                    al momento de iniciar su trabajo desde casa o home office, el cual a pesar de que era maravilloso porque podía compartir más tiempo con nosotros, no le permitía cumplir
                    con una alimentación balanceada, ya que reunión tras reunión sus horas dentro de su oficina pasaban y pasaban. 
                    <br/>
                    <br/>
                    Esta situación me motivó a ayudarlo en el balance de sus comidas al igual que a todas esas personas que diariamente tienen que enfrentas distintas cargas laborales que demandan
                    amplias horas de concentración y trabajo, por lo que no pueden cumplir con su alimentación apropiadamente.
                    <br/>
                    <br/>
                    En Juan Sabrosuras creemos en la simplicidad, calidad de los ingredientes y ese sazón casero, que aunque no sea exactamente igual al de tu mamá o abuela, nos esforzamos para hacerte
                    recordar esos almuerzos en familia repletos de sabor y amor. 
                    <br/>
                    <br/>
                    Nos orgullese ofrecer una alternativa a la comida rápida, presentando opciones saludables y deliciosas que rescatan la esencia de la comida casera.
                    <br/>
                    <br/>
                    Nuestro sello es todo el esfuerzo para ofrecer un menú rotativo, saludable y personalizable dependiendo de tu necesidad. 
                    <br/>
                    <br/>
                    En Juan Sabrosuras encontraras la calidad y el cariño que solo puedes conseguir en casera.
                    <br/>
                    <br/>
                    Gracias por ser parte de nuestra historia culinaria, esperamos que proximamente podamos llevar nuestro sazón a tu mesa. 
                </p>
            </div>
            <img class="mt-10 lg:mt-0 w-full aspect-video" src="/media/about_us/banner_mobile.png" alt="Imagen de banner de seccion sobre nosotros - Juan Sabrosuras">
        </article>
        <article class="bg-gray-figma-100 py-10 md:flex lg:justify-center">
            <div class="flex flex-col items-center text-center shadow-figmaShadows md:my-10 py-14 px-7 mx-5 xl:mx-0 xl:ml-10 rounded-[20px]">
                <svg width="63" height="45" viewBox="0 0 63 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.5 37.625H4.5C2.7 37.625 1.5 36.425 1.5 34.625V4.625C1.5 2.825 2.7 1.625 4.5 1.625H34.5C36.3 1.625 37.5 2.825 37.5 4.625V37.625M37.5 10.625H49.5L61.5 22.625V34.625C61.5 36.425 60.3 37.625 58.5 37.625H52.5" stroke="#AC010F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M16.5 43.625C19.8137 43.625 22.5 40.9387 22.5 37.625C22.5 34.3113 19.8137 31.625 16.5 31.625C13.1863 31.625 10.5 34.3113 10.5 37.625C10.5 40.9387 13.1863 43.625 16.5 43.625Z" stroke="#AC010F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M40.5 37.625H22.5" stroke="#AC010F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M46.5 43.625C49.8137 43.625 52.5 40.9387 52.5 37.625C52.5 34.3113 49.8137 31.625 46.5 31.625C43.1863 31.625 40.5 34.3113 40.5 37.625C40.5 40.9387 43.1863 43.625 46.5 43.625Z" stroke="#AC010F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <h4 class="text-mobile-heading-small lg:text-desktop-heading-small uppercase mt-8 h-20 xl:h-24">DOMICILIO</h4>
                <p class="text-mobile-paragraph-large lg:text-desktop-paragraph-large">Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum,</p>
            </div>
            <div class="flex flex-col items-center text-center shadow-figmaShadows my-10 py-14 px-7 mx-5 rounded-[20px]">
                <svg width="62" height="45" viewBox="0 0 62 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M57.6667 13.3906H4.33333C2.49238 13.3906 1 14.4353 1 15.7239V20.3905C1 21.6791 2.49238 22.7237 4.33333 22.7237H57.6667C59.5076 22.7237 61 21.6791 61 20.3905V15.7239C61 14.4353 59.5076 13.3906 57.6667 13.3906Z" stroke="#AC010F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M30.9998 13.3907V43.7233M30.9998 13.3907C29.7941 9.9127 27.718 6.9393 25.0423 4.85825C22.3666 2.7772 19.2155 1.68507 15.9998 1.72429C13.7897 1.72429 11.6701 2.33885 10.1073 3.43279C8.54448 4.52672 7.6665 6.01042 7.6665 7.55748C7.6665 9.10454 8.54448 10.5882 10.1073 11.6822C11.6701 12.7761 13.7897 13.3907 15.9998 13.3907M30.9998 13.3907C32.2056 9.9127 34.2817 6.9393 36.9574 4.85825C39.6331 2.7772 42.7842 1.68507 45.9998 1.72429C48.21 1.72429 50.3296 2.33885 51.8924 3.43279C53.4552 4.52672 54.3332 6.01042 54.3332 7.55748C54.3332 9.10454 53.4552 10.5882 51.8924 11.6822C50.3296 12.7761 48.21 13.3907 45.9998 13.3907M54.3332 22.7238V39.0567C54.3332 40.2944 53.6308 41.4813 52.3805 42.3565C51.1303 43.2316 49.4346 43.7233 47.6665 43.7233H14.3332C12.5651 43.7233 10.8694 43.2316 9.61913 42.3565C8.36888 41.4813 7.6665 40.2944 7.6665 39.0567V22.7238" stroke="#AC010F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                                
                <h4 class="text-mobile-heading-small lg:text-desktop-heading-small uppercase mt-8 h-20 md:h-18 xl:h-24">CÓDIGOS DE DESCUENTO</h4>
                <p class="text-mobile-paragraph-large lg:text-desktop-paragraph-large">Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum,</p>
            </div>
            <div class="flex flex-col items-center text-center shadow-figmaShadows mt-10 md:mb-10 py-14 px-7 mx-5 xl:mx-0 xl:mr-10 rounded-[20px]">
                <svg width="62" height="45" viewBox="0 0 62 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22 18.0566L28 22.7233L40 13.3899" stroke="#AC010F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M55 1.72327H7C3.68629 1.72327 1 3.8126 1 6.38993V29.7233C1 32.3006 3.68629 34.3899 7 34.3899H55C58.3137 34.3899 61 32.3006 61 29.7233V6.38993C61 3.8126 58.3137 1.72327 55 1.72327Z" stroke="#AC010F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M31 34.3899V43.7233M19 43.7233H43" stroke="#AC010F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <h4 class="text-mobile-heading-small lg:text-desktop-heading-small uppercase mt-8 h-20 xl:h-24">Ordena online</h4>
                <p class="text-mobile-paragraph-large lg:text-desktop-paragraph-large">Lorem ipsum, Lorem ipsum, Lorem ipsum, Lorem ipsum,</p>
            </div>
        </article>
    </section>
{% endblock %}

