{% extends 'core/master.html' %}



{% block content %}
    <section class="container  py-10">
        <article class="text-center">
            <p class="uppercase text-primary text-parrafo lg:text-subtitulo xs:tracking-[0.175rem] font-bold">Queremos saber mas de ti</p>
            <h3 class="font-bold text-tituloMob lg:text-titulo mt-5">Contáctanos</h3>
        </article>

        <form class="max-w-[600px] mx-auto" action="" method="POST">
            {% csrf_token %}
            <div class="relative mt-10">
                <label for="name" class="absolute top-0 z-10 px-2 text-sm text-gray-figma-300 bg-white -translate-y-[10px] translate-x-2 after:content-['*'] after:text-red-500">Nombres </label>
                {{ form.name }}
                {{ form.name.errors }}
            </div>
            <div class="relative mt-10">
                <label for="last_name" class="absolute top-0 z-10 px-2 text-sm text-gray-figma-300 bg-white -translate-y-[10px] translate-x-2 after:content-['*'] after:text-red-500">Apellidos </label>
                {{ form.last_name }}
                {{ form.last_name.errors }}
            </div>
            <div class="relative mt-10">
                <label for="email" class="absolute top-0 z-10 px-2 text-sm text-gray-figma-300 bg-white -translate-y-[10px] translate-x-2 after:content-['*'] after:text-red-500">Correo electronico registrado </label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div class="relative mt-10">
                <label for="phone_number" class="absolute top-0 z-10 px-2 text-sm text-gray-figma-300 bg-white -translate-y-[10px] translate-x-2 after:content-['*'] after:text-red-500">Numero telefonico registrado </label>
                {{ form.phone_number }}
                {{ form.phone_number.errors }}
            </div>
            <div class="relative mt-10">
                <label for="comment" class="absolute top-0 z-10 px-2 text-sm text-gray-figma-300 bg-white -translate-y-[10px] translate-x-2 after:content-['*'] after:text-red-500">Comentario </label>
                {{ form.comment }}
                {{ form.comment.errors }}
            </div>
            <div class="mt-10">
                <button type="submit" class="btn-cta w-full shadow-primaryShadowForm">
                    Enviar
                </button>
            </div>
        </form>
    </section>
{% endblock %}