<footer class="bg-secondary font-avantGarde">
    <section class="container py-10">
        <article class="md:flex">
            <div class="basis-1/2">
                <span class="uppercase text-white text-4xl font-bold">
                    Logo
                </span>
                <div class="mt-10 text-lg text-white">
                    <p>Lorem ipsum, Lorem ipsum</p>
                    <p>Lorem ipsum, Lorem ipsum</p>
                </div>
                <div class="mt-10 flex gap-5">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="58" height="57" viewBox="0 0 58 57" fill="none">
                            <ellipse cx="29" cy="28.5" rx="29" ry="28.5" fill="#EDFFEF"/>
                            <path d="M36 16H32.1818C30.4941 16 28.8754 16.6704 27.6821 17.8639C26.4886 19.0573 25.8182 20.6759 25.8182 22.3636V26.1818H22V31.2727H25.8182V41.4545H30.9091V31.2727H34.7273L36 26.1818H30.9091V22.3636C30.9091 22.0261 31.0432 21.7024 31.2819 21.4637C31.5205 21.225 31.8443 21.0909 32.1818 21.0909H36V16Z" stroke="#5E5E5E" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="57" height="57" viewBox="0 0 57 57" fill="none">
                            <circle cx="28.5" cy="28.5" r="28.5" fill="#EDFFEF"/>
                            <path d="M28 33.8891C30.7 33.8891 32.8889 31.7002 32.8889 29.0002C32.8889 26.3002 30.7 24.1113 28 24.1113C25.2999 24.1113 23.1111 26.3002 23.1111 29.0002C23.1111 31.7002 25.2999 33.8891 28 33.8891Z" stroke="#484848" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M17 33.8889V24.1111C17 20.736 19.736 18 23.1111 18H32.8889C36.2639 18 39 20.736 39 24.1111V33.8889C39 37.2639 36.2639 40 32.8889 40H23.1111C19.736 40 17 37.2639 17 33.8889Z" stroke="#484848" stroke-width="2.5"/>
                            <path d="M34.7222 22.2907L34.7351 22.2764" stroke="#484848" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="mt-20 md:mt-0 md:basis-1/2">
                <p class="text-2xl text-white font-normal">Quiero ofertas exclusivas</p>
                <form action="" class="mt-5 flex flex-col">
                    <div class="relative mt-5">
                        <label for="newsletter_name" class="absolute top-0 z-10 px-2 text-sm text-white bg-secondary -translate-y-[10px] translate-x-2">Nombre</label>
                        <input type="text" id="newsletter_name" name="newsletter_name" class="w-full border-2 border-white bg-secondary text-white rounded py-4 px-2 outline-0">
                    </div>
                    <div class="relative mt-5">
                        <label for="newsletter_email" class="absolute top-0 z-10 px-2 text-sm text-white bg-secondary -translate-y-[10px] translate-x-2">Correo electronico</label>
                        <input type="email" id="newsletter_email" name="newsletter_email" class="w-full border-2 border-white bg-secondary text-white rounded py-4 px-2 outline-0">
                    </div>
                    <button type="submit" class="w-full mt-5 py-4 bg-primary rounded-full shadow-whiteShadowCTAs text-white font-bold">+ Suscríbete</button>
                </form>
            </div>
        </article>
        <article class="mt-20 border-t text-center text-white md:flex md:justify-between md:pt-10">
            <div class="mt-5 md:mt-0 md:flex md:justify-center md:items-center md:order-1 md:gap-10">
                <p>Términos y condiciones</p>
                <p class="mt-5 md:mt-0">Política de privacidad</p>
            </div>
            <div class="mt-10 md:mt-0 flex justify-center items-center gap-3 md:order-0">
                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="14" viewBox="0 0 13 14" fill="none">
                    <g clip-path="url(#clip0_1052_930)">
                        <path d="M6.49988 0.733398C2.91605 0.733398 0 3.64799 0 7.23274C0 10.8161 2.91605 13.7321 6.49988 13.7321C10.0841 13.7321 13 10.8161 13 7.23274C13 3.64799 10.0841 0.733398 6.49988 0.733398ZM6.49988 12.2841C3.71416 12.2841 1.44806 10.0181 1.44806 7.23278C1.44806 4.44625 3.71416 2.1803 6.49988 2.1803C9.28591 2.1803 11.552 4.44628 11.552 7.23278C11.552 10.0181 9.28588 12.2841 6.49988 12.2841Z" fill="white"/>
                        <path d="M8.63338 8.40985C8.21815 9.12238 7.44604 9.56439 6.61842 9.56439C5.3332 9.56439 4.28632 8.51775 4.28632 7.23249C4.28632 5.94617 5.3332 4.89918 6.61842 4.89918C7.44608 4.89918 8.21815 5.34281 8.63338 6.05393L8.68704 6.14687H10.2536L10.1595 5.89466C9.88694 5.1725 9.40863 4.5585 8.77549 4.12024C8.14075 3.68086 7.39517 3.44775 6.61842 3.44775C4.53183 3.44775 2.83496 5.14608 2.83496 7.23249C2.83496 9.31905 4.53183 11.0158 6.61842 11.0158C7.39517 11.0158 8.14071 10.7835 8.77549 10.3434C9.40863 9.90504 9.88694 9.29124 10.1595 8.56908L10.2536 8.31674H8.68704L8.63338 8.40985Z" fill="white"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_1052_930">
                        <rect width="13" height="13" fill="white" transform="translate(0 0.73291)"/>
                        </clipPath>
                    </defs>
                </svg>
                <p>Copyright Los Cacorros</p>
            </div>
        </article>
    </section>
</footer>