<!DOCTYPE html>
<html lang="es-CO">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juan sabrosuras</title>

    {% load static %}
    <link rel="preload" href="{% static '/core/js/header.js' %}" as="script">
    <link rel="preload" href="{% static '/core/css/global.css' %}" as="style">
    <link rel="stylesheet" href="{% static '/core/css/global.css' %}">


    <link rel="preload" href="{% static '/vendors/hamburgerMenu/hamburgers.css' %}" as="style">
    <link rel="stylesheet" href="{% static '/vendors/hamburgerMenu/hamburgers.css' %}">



    <link rel="preload" href="{% static 'vendors/swiperjs/swiper-bundle.min.css' %}" as="style">
    <link rel="stylesheet" href="{% static 'vendors/swiperjs/swiper-bundle.min.css' %}">
    <link rel="preload" href="{% static '/vendors/swiperjs/swiper-bundle.min.js' %}" as="script">
    <link rel="preload" href="{% static '/vendors/cryptojs/crypto-js.min.js' %}" as="script">


    <script src="{% static '/vendors/swiperjs/swiper-bundle.min.js' %}"></script>
    <script src="{% static '/vendors/cryptojs/crypto-js.min.js' %}"></script>

    {% block vendors %}
    {% endblock %}

</head>
<body>
    {% include 'core/header.html' %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
    {% include 'core/footer.html' %}

    {% load static %}
    <script src="{% static '/core/js/header.js' %}"></script>
    {% block scripts %}
    {% endblock  %}
</body>
</html>